<div class="auth-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-content select="h1"></ng-content>

    <label for="">
      <input type="email" placeholder="Email address" formControlName="email" />
    </label>

    <label for="">
      <input
        type="text"
        placeholder="Enter password"
        formControlName="password"
      />
    </label>

    <div *ngIf="emailFormat" class="error">Invalid Email Format</div>

    <div *ngIf="passwordInvalid" class="error">Password is Required</div>

    <ng-content select=".error"></ng-content>
    <div class="auth-form__action">
      <ng-content select="button"></ng-content>
    </div>
    <div class="auth-form__toggle">
      <ng-content select="a"></ng-content>
    </div>
  </form>
</div>
